body{
    background-color: #1B1E23;
    color: white;
    margin: 0%;
}

.hero{
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.cont{
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0px;
}

.bspace .cont{
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px;
}

.projects .cont{
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px;
}

.cont-nospace{
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.blank{
    height: 5rem;
    width: 90rem;
    /* background-color: rgba(97, 108, 255, 0.39); */

}

.hero{
    display: flex;
    align-items: center;
    gap: 80px;
}

p{
    font-size: 18px;
    font-family: "Jost";
    line-height: 24px;
}

.projects {
    background: -webkit-linear-gradient(-20deg, #4B9FFF,#00C399,#FFD157,#FC7366);
} 

.projects .cont{
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: "Syne", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin: 0%;
    color: #fff !important;
}   


.hero h1{
    font-family: "Syne", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin: 0%;
    background: -webkit-linear-gradient(-20deg, #4B9FFF,#00C399,#FFD157,#FC7366);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



h2{
    font-family: "Syne", sans-serif;

    font-weight: 700;
    font-size: 3.5rem;
    margin: 0%;
    background: -webkit-linear-gradient(-20deg, #4B9FFF,#00C399,#FFD157,#FC7366);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h3{
    font-family: 'Syne';
    font-size: 1.5rem;
    margin: 0%;
    font-weight: 400;
    margin-top: 16px;
    /* background-color: antiquewhite; */
}

.hero h3{
    color: #a4a7aa;
}

/* .hero img{
    height: 500px;
    width: 400px;
    background-image: url('./Images/yash-n.png');
    background-position: center;
    object-fit: cover;
} */

.btn-talk{
    padding: 16px 48px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    color: #1B1E23;
}

.btn-talk:hover{
    cursor: pointer;
    color: #1B1E2348;
    transition: 0.2s ease-in-out;  /* Smooth transition on hover */

}

/* .hero-image-container img {

    top: 0;
    left: 0;
    width: 400;
    height: 500;
  } */


.hero-img{
    height: 500px;
    width: 400px;
}

  .hero:hover .hero-image-hover {
    z-index: 1;  /* Hover image on top when hovered */
  }
  

.txt p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.marq-slide div {
    animation: marq 15s linear infinite;
    display: flex;
}

@keyframes marq {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.marq-cont{
    margin: 120px 0px;
    padding: 24px 0px;
    background-color: #25282e;
    white-space: nowrap;
    overflow: hidden;
}

.marq{
    display: flex;
    gap: 24px;
}

.marq h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.marq svg {
    width: 20px;
}

.about-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.work-grid {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.work-grid .work-frame{
    overflow: hidden;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.work-frame img{
    width: 100%;
    transition: transform .3s ease;
}

.work-frame:hover img{
    transform: scale(1.5) rotate(15deg);
    overflow: hidden;
}

.work-frame p{
    color: #a4a7aa;
}

.projects .work-frame p{
    color: #fff;
}

.service-frame{
    width: 100%;
    padding: 32px;
    background-color: #25282e;
}

.contact-frame{
    width: 100%;
    padding: 32px;
    border: #31343a 1px solid;
}

.about-frame{
    width: 100%;
    padding: 32px;
    border: #31343a 1px solid;
}

.contact-frame{
    width: 100%;
    padding: 32px;
    border: #31343a 1px solid;
}

.service-frame p{
    color: #a4a7aa;
}

.service-frame ul{
    list-style-position: outside;
}

.feature-grid .contact-frame{
    display: flex;
    border: 0px;
    justify-content: start;
    align-self: center;
    gap: 24px;
}

.feature-grid p{
    font-size: 20px;
    font-weight: 500;
}

.feature-grid h2{
    color: #fff;
    margin-top: 0px;
}

.footer {
    background-color: #25282e;
    color: white;
    text-align: center;
    font-family: "Syne";
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons{
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer svg{
    width: 24px;
    color: #fff;
    margin: 0px 8px;

}

.footer a{
    text-decoration: none;
}

.footer a:hover{
    opacity: 60%;
}